<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<interactiveMode>true</interactiveMode>
	<offline>false</offline>
	<servers>
		<server>
			<id>mule-ee-repository</id>
			<username>${ENTERPRISE_REPO_USERNAME}</username>
			<password>${ENTERPRISE_REPO_PASSWORD}</password>
		</server>
		<server>
			<id>github-maven-scm</id>
			<username>github-maven-scm</username>
			<password>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</password>
		</server>
		<server>
			<id>anypoint-exchange</id>
			<username>~~~Client~~~</username>
			<password>${CONNECTED_APP_CLIENTID}~?~${CONNECTED_APP_CLIENTSECRET}</password>
		</server>
		<server>
			<id>jfrog-cloud</id>
			<username>admin1</username>
			<password>AdminAdmin1</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>MuleNexus</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>mule-ee-repository</id>
					<name>Mule Enterprise Respository</name>
					<url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>standard-repositories</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>Central</id>
					<name>Central</name>
					<url>http://repo1.maven.org/maven2/</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>anypoint-exchange</id>
					<name>Anypoint Exchange</name>
					<url>https://maven.anypoint.mulesoft.com/api/v2/maven</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>mulesoft-releases</id>
					<name>MuleSoft Releases Repository</name>
					<url>https://repository.mulesoft.org/releases/</url>
					<layout>default</layout>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>mule-public</id>
					<layout>default</layout>
					<url>https://repository.mulesoft.org/nexus/content/repositories/releases</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>mulesoft-release</id>
					<name>mulesoft release repository</name>
					<layout>default</layout>
					<url>https://repository.mulesoft.org/nexus/content/groups/public</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>mulesoft-ee-release</id>
					<url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>

